@{
    ViewBag.Title = "Forgot Password Confirmation";
}
<body>
    <div class=" aboutheader">
        <hgroup class="title">
            <h1>@ViewBag.Title.</h1>
        </hgroup>
    </div>
    <div class="aboutmain">
        <div>
            <p>
                Please check your email to reset your password.
            </p>
        </div>
    </div>
</body>

