@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This web app is responsable for compiling countries and attacsk into a database which then combines the two uisng user input into a detalied overview of both country and attack information.</p>
