@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    11727 Langham Crecsent Ct.<br />
    Fishers, IN 46037<br />
    <abbr title="Phone">P:</abbr>
    317.578.0812
</address>

<address>
    <strong>Work:</strong>   <a href="mailto:zjmcdon98@gmail.com">zjmcdon98@gmail.com</a><br />
</address>