@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>CyberWarfare Database</h1>
    <p class="lead">A streamlined easy access way to search for cyber attacks at home or abroad</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add a Country</h2>
        <p>
            Edit an exist country, or add a new country, the world is everchanging and we as a website adapt to this fact.
        </p>
        <p><a class="btn btn-default" href="Country">Add a Country here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Add an Attack</h2>
        <p>Add an attack to our database so you can come back to the infomation later when you need it.</p>
        <p><a class="btn btn-default" href="Attack">Add an Attack here! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Data Collecter</h2>
        <p>Want to add a face to the attack? No problem! With our data compiler you will know if the filthy reds or our cold brothers to the north shut down TLC!</p>
        <p><a class="btn btn-default" href="DataCollect">Compile Here! &raquo;</a></p>
    </div>
</div>